{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <h4>Enter a new question:</h4>
    <form method='post' action='admin'>
      Question: <input type='text' name='question'><br />
      Answer A: <input type='text' name='ans1'><br />
      Answer B: <input type='text' name='ans2'><br />
      Answer C: <input type='text' name='ans3'><br />
      Answer D: <input type='text' name='ans4'><br />
      Correct Answer (A-D): <input type='text' name='correct'><br />
      <br /> <input type='submit' value='Submit'>
    </form>
  
{% else %}
    <h2> Access Denied! </h2>
  {% endif %}
{% endblock %}
