{% extends "layout.html" %}
{% block body %}
  <h4>You finished the quiz. Your score is {{score}}%.</h4>
  {% if get_info %}
  <p> You got a high score! </p>
  <form method='post' action='end'>
      Enter your name:<input type='text' name='name'><br>
      <br><input type='submit' value='Submit'>
  </form>
  {% else %}
  <ol>
    {% for name, score in highscores %}
    <li>{{name}}    {{score}}</li>
    {% endfor %}
  </ol>
  <form action='/' >
    <input type='submit' value='Play again'>
  </form>
  {% endif %}
{% endblock %}
